
.container{
    margin: auto;
    margin-top: 60px;
}

.container:hover{
    background-color: rgb(212, 210, 210); 
    cursor: pointer;
    transition: 2s ease;

}
.produto {
    display: flex;
    max-height: 225px;
    max-width: 225px;
    margin: 0 auto;
    height: 410px;
   
}

.descricao{
   text-align: center;
}
.preco{
    text-align: center;
}

.descricao:hover{
    transform: scale(1.1);
}